@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Roboto Serif';
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}
body{
    font-size: 16px;
    font-weight: 400;
}
/* MENU ENCABEZADO */

.contenedor-header{
    background: #000000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0.625rem 0.9375rem;
   /* display: flex;*/
    align-items: center;
}

.logo img {
    width: 6rem; /* ajusta el tamaño según tus necesidades */
    height: auto;
    
}
.logo img:hover {
    
    box-shadow: 0 0 10px #00fcf6,
    0 0 30px #00fcf6,
    0 0 50px #00fcf6,
    0 0 70px #00fcf6,
   
}

.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    font-size: 0.7rem;
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: 0.5s;
}
.contenedor-header header nav ul li a:hover{
    color: #00fcf6;    
    box-shadow: 0 0 10px #00fcf6,
    0 0 30px #00fcf6,
    0 0 50px #00fcf6,
    0 0 70px #00fcf6,
   
}
.nav-responsive{
    background-color: #00fcf6;
    color:#fff;
    padding: 0.3125rem 0.625rem;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECCION I N I C I O */

.inicio{
    background: linear-gradient(to top,  rgba(69, 69, 69, 0.8), rgb(32, 32, 32)), url(img/bienvenido.jpeg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
}

.inicio .texto-bienvenidos{
    margin-top: 0.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.inicio .texto-bienvenidos h1 {
    align-items: center;
    color: #00fcf6;
    margin-top: 0.625rem;
    margin-left: 0%;
    align-content: center;
    font-size: 1.5rem;
    font-family: Righteous;
    text-align: center;
}

.inicio .texto-bienvenidos h2{
    align-items: center;
    color: #fff;
    margin: 0.625rem;
    font-size: 1.2rem;
    font-family: 'Righteous';
    text-align: center;
}

.inicio .contenido-banner{
    padding: 1.5rem 0.5rem;
    background-color: #080808;
    max-width: 20rem;
    margin: auto;
    text-align: center;
    border-radius: 40px 0px;
    position: relative;
    border: #00fcf6;
    box-shadow: 0 0 15px #00fcf6;
}
.contenedor-img img {    
    border:6px solid #00fcf6;
    display: block;
    width: 60%;
    margin: auto;
    border-radius: 50%;
    
    
}




.inicio .contenido-banner .contenedor-img span{
    position: absolute;
    top: 25.5%;
    left: -9.3%;
    width: 1.25rem;
    height: 0.5rem;
    background: #282929;
    border-radius: 10px;
    transform-origin: 8rem;
    transform: scale(0.55) rotate(calc(var(--i)*(360deg /50)));
    animation: animateBlink 3s linear infinite;
    animation-delay: calc(var(--i)*(3s /50));
    
}

.inicio .contenido-banner .logohd{
    
    color: #00fcf6;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    padding: auto;
    margin-top: 1.5rem;
    width: 8rem; /* ajusta el tamaño según tus necesidades */
    height: auto;

}


.inicio .contenido-banner .logohd:hover {
    
    box-shadow: 0 0 10px #00fcf6,
    0 0 30px #00fcf6,
    0 0 50px #00fcf6,
    0 0 70px #00fcf6,
   
}




.inicio .contenido-banner h2{
   
    font-size: 1.1rem;
    font-weight: normal;
    color: #fff;
}


@keyframes animateBlink {
    0% {
        background: #00fcf6;
    }
    25% {
        background: #1a1b1b;
    }
}

.inicio .contenido-banner .redes {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #0000;
}

.inicio .contenido-banner .redes a{
    color: #000000;
    margin-right: 0.1rem;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    line-height: 2.625rem;
    margin: 0.3rem 0.2rem;
    font-size: 1.rem;
    transition: .3s;
    text-align: center;
    align-items: center;
    background: #00fcf6;
    transition: background-color 0.3s, color 0.3s;
}

.inicio .contenido-banner .redes a:hover{
    background-color: #03f2ff;
    color: #0000;
    box-shadow: 0 0 10px #00fcf6, 0 0 20px #00fcf6, 0 0 30px #00fcf6, 0 0 40px #00fcf6, 0 0 50px #00fcf6, 0 0 60px #00fcf6, 0 0 70px #00fcf6;
}

  
.inicio .contenido-banner .redes a i {
    font-size: 1.5rem;
    transition: transform 0.3s;
    color: #000;
  }
  
  .inicio .contenido-banner .redes a:hover i {
    transform: scale(1.2);
  }


/*===== SOBRE MI=========*/
.sobremi {
    height: 100vh;
    padding: 2.5rem 6rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /*grid-gap: 1em;*/
   
    background: linear-gradient(to top,  rgba(69, 69, 69, 0.8), rgb(32, 32, 32)), url(img/sobremi.jpg);
    background-size: cover;
    background-attachment: fixed;    
    display: flex;
    align-items: center;
    display: grid;
}


.sobremi-content h1{
    font-size: 1.5rem;
    font-weight: 900;
    
    padding-top: 2rem;
}

.sobremi .sobremi-content .logohd2{
    width: 10rem;
    height: auto;
    color: #00000088;
    justify-content: center;
    align-content: center;
    margin-left: 0;
    padding: auto;
    margin-top: 1.875rem;
    box-shadow: 0 0 0.625rem #00fcf6,
    0 0 1.875rem #009492a9,
    0 0 3.125rem #00fcf6,
    0 0 4.375rem #00fcf855;   

}



.change-text {
    
    font-weight: 400;
    line-height: 3.9rem;
    color: #00fcf6;
       
}
.change-text h2 {
    font-size: 1.2rem;   
    color: #00fcf6;
       
}



.sobremi-content p{
    color: #fff;
    line-height: 1.;
    
    font-size: 0.9rem;
    font-weight: 300;
    top: 10%;
    
}

.home-img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.img-box {
    display: inline-flex;
    text-align: center;
    position: absolute;
    z-index: 1;    
    transform: translate(10%,-10%); 
    float: left;

}

img {
    width: 200%;
    max-width: 200px;
    height: auto;
    display: block;
    align-items: center;
    
}

.liquid-shape{
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 0;
    align-content: center;
    width: 55%;
    height: 55%;
    align-items: center;
    margin-left: 1.25rem;    
    border-radius: 4.375rem 0.3125rem;  
    
}


.sobremi-content .button-container{
    position: relative;
    margin-top: 0.rem;
    text-align: center; 
    height: 1.875rem;  
    
}


.btn-box {
    display: flex;
    justify-content: center;    
    align-items: center;
    
}

.btn {
    display: inline-block;
    padding: 0.625rem 1.25rem;    
    text-decoration: none;
    color: #000;
    background-color: #00fcf6;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
  }



.btn-box a.btn{
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 9.375rem;
    height: 100%;
    background: #014d4c;
    color: #000000;
    font-size: 1rem;
    letter-spacing: 0.0625rem;
    font-weight: 600;
    transition: .6s;
    box-shadow: 0px 10px 5px #00fcf6;
    border-radius: 5%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid #000000;
    transition: transform 0.3s;
}

.btn-box a.btn:hover{
    color: #03fffbbe;
    background: #373e44;
    transform: translate(0.625rem);
}

.sobremi-content .info-box {
    display: flex;   
    justify-content: center;
    align-items: center;
    box-shadow: 5 3 20px #00fcf6;
      
     
}

.info-box .redes{
    display: flex;
    margin: 0 0px;
}

.info-box .redes a {
    display: block;
    width: 2.8125rem;
    height: 2.8125rem;
    font-size: 3.75rem;
    margin-right: 1.5625rem;    
    text-align: center;
    line-height: 1.5625rem;
    text-decoration: none;
    color: #000000;
    background-color: #014d4c;
    box-shadow: 0 0 0 20 #939c28;
    padding: 0 0.625rem;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s, 0 0 30px #055553;
  }
  
  .info-box .redes a:hover {
    
    background-color: #373e44;
    color: #00fcf6;
    box-shadow: 0 0 30px #00fcf6;
  }
  
  .redes a i {
    font-size: 1.5rem;
    transition: transform 0.3s;
  }
  
  .redes a:hover i {
    transform: scale(1.2);
  }

/* Estilos responsive */

@media screen and (max-width: 768px) {
    .sobremi {
        grid-template-columns: 1fr;
        grid-gap: 2em;
    }

    .sobremi .sobremi-content .logohd2 {
        width: 9.375rem;
        margin: 0 auto;
    }

    .sobremi-content p {
        font-size: 1rem;
    }

    .button-container {
        margin-top: 18.75rem;
    }

    .info-box {
        /*margin-top: 100px;
        padding: 20px;*/
        padding-top: 2.5rem;
    }
}

@media screen and (max-width: 30rem) {
    .sobremi-content h1 {
        font-size: 1.5rem;
    }

    .change-text {
        font-size: 1.25rem;
        line-height: 2.5;
    }

    .change-text h2 {
        font-size: 1.25rem;
    }

    .sobremi-content p {
        font-size: 1rem;
    }

    .btn-box a.btn {
        width: 7.5rem;
        font-size: 0.8rem;
    }
}






/*======MY SKILLS============================*/

.skills {  
    height: 100vh;
    padding: 2.8rem 1rem;
       
    align-items: center;    
    background: linear-gradient(to top,  rgba(69, 69, 69, 0.8), rgb(32, 32, 32)), url(img/sobremi.jpg);
    background-size: cover;
    background-attachment: fixed;      
    align-items: center;      
}

.skills .skillt{
    grid-template-columns: 1fr 1fr;
    /*margin: 1.25rem;*/
    margin-top: 0px;
    padding: 2.5rem 3.rem; 
}

.skillt .main-tex h2{
    font-size: 1.5rem;
    font-family: Righteous;
    text-align: center;    
    color: #00fcf6;
    
}

.skill-main{
    width: 100%; /* Establece el ancho al 100% del contenedor */
    display: grid; /* Utiliza el sistema de cuadrícula CSS */
    grid-template-columns: repeat(2, 1fr); /* Crea 2 columnas de igual tamaño */
    grid-row-gap: 1.rem; /* Establece el espacio vertical entre filas */
    grid-column-gap: 3rem; /* Establece el espacio horizontal entre columnas */
    
}



.skillt .skill-left{
    padding: 0.5rem 0.5rem;
    
}

.skill-main h3{
    margin-bottom: 1.2rem; /* Establece un margen inferior de 2rem (20px aproximadamente) */
    font-size: 1.rem; /* Establece el tamaño de fuente en 12px */
    text-align: center; /* Centra el texto horizontalmente dentro del elemento */
    
}

.skill-bar{
    margin-bottom: 1.5rem;/* Establece un margen inferior de 2.3rem (23px aproximadamente) */
}


.skill-left .skill-bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.625rem;
    color: #00fcf6;
    font-size: 0.8rem;
   

}

.skill-left .skill-bar .info a {
    margin-left: 0.625rem; /* Agrega un margen a la izquierda para separar las imágenes de las barras */
   
}

.skill-left .skill-bar .info a img {
    width: 2rem; /* Establece el ancho deseado para la imagen */
    height: 2rem; /* Establece la altura deseada para la imagen */
  }
.skill-left .skill-bar .bar{
    width: 100%;
    height: 0.625rem;
    background: #000000;
    border-radius: 1.5625rem;
    margin-top: 0.625rem;
    position: relative;


}

.skill-bar .bar span{
    width: 30%;
    height: 60%;
    position: absolute;
    left: 0;
    background:  #00fcf6; /* Utilizamos un degradado lineal para obtener el efecto neon */
    box-shadow: 0 0 5px #00fcf6, 0 0 10px #00fcf6, 0 0 20px #00fcf6, 0 0 30px #00fcf6; /* Agregamos una sombra con transparencia */
    border-radius: 25px;
}

.skill-bar .bar .lenguage {
    width: 60%;
    animation: lenguage 2s;
}

.skill-bar .bar .libraries {
    width: 70%;
    animation: libraries 2s;
}

.skill-bar .bar .database {
    width: 60%;
    animation: database 3s;
}

.skill-bar .bar .frameworks {
    width: 55%;
    animation: frameworks 4s;
}

.skill-bar .bar .othertools {
    width: 45%;
    animation: otherstools 5s;
}

.skill-bar .bar .agilemethodology {
    width: 75%;
    animation: agilemethodology 6s;
}

/* ===== KEY FRAMES ==============*/

@keyframes morph {
    0%, 100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    30% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    60% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
    80% {
        border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
    }
}

@keyframes lenguage {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

@keyframes libraries {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@keyframes database {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

@keyframes frameworks {
    0% {
        width: 0%;
    }
    100% {
        width: 55%;
    }
}

@keyframes othertools {
    0% {
        width: 0%;
    }
    100% {
        width: 45%;
    }
}

@keyframes agilemethodology {
    0% {
        width: 0%;
    }
    100% {
        width: 75%;
    }
}

/* === SKILL RIGHT=========*/

.skillt .skill-right{
    
    padding: 0.5rem 0.5rem;

}

.porfessional {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0.3125rem;
    top: 5%;
    
    
  }
 


  .box1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;    
    flex-direction: column;    
    align-items: center;
    text-align: center;
    width: 9rem;
    height: 9.rem;
   
    
    
   
}


.box1 .valor{
    display: grid;
    align-items: center;
    grid-column: 1/3;
    
    
}

.valor .titulo{
    font-size: 0.6rem;
    font-weight: 300;
    transform: translate(-8%, 100%);
    
}
.valor .porcentaj{
    font-size: 1.rem;
    font-weight: 600;
    
    /*top: 50%;
    left: 50%;*/
    transform: translate(23%, 328%);

}

.box1 .imagen{
    /*background: #278f3d;*/
    display: inline-block;
    /*width: 150px;
    height: 150px;*/
}

.box1 .imagen a img {
  align-items: center;
  width: 3.5rem; /* Establece el ancho deseado para la imagen */
  height: 3.5rem; /* Establece la altura deseada para la imagen */
    
}

.box1 .circle {
    display: inline-block;
    align-content: center;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
 
.circle .points {
    width: 0.1rem;
    height: 8px;
    background-color: #000000;
    position: absolute;
    border-radius: 0.1875rem;
    transform: rotate(calc(var(--i) * var(--rot))) translateY(-1.8rem);
   
}

.points.marked {
    animation: glow 1.5s linear forwards;
        animation-delay: calc(var(--i) * 0.1s);
}
  
@keyframes glow {

  0% {
    background: #000000;
    box-shadow: 0 0 5px #000000a1, 0 0 10px #000000a1, 0 0 20px #000000a1, 0 0 30px #000000a1;
  }
  50% {
    background: #04f9aba1;
    box-shadow: 0 0 5px #04f9aba1, 0 0 10px #04f9aba1, 0 0 20px #04f9aba1, 0 0 30px #04f9aba1;
  }
  100% {
    background: #00fcf6;
    box-shadow: 0 0 5px #00fcf6, 0 0 10px #00fcf6, 0 0 20px #00fcf6, 0 0 30px #00fcf6;
  }
}



/* SECCION CURRICULUM */
.curriculum{
    background: linear-gradient(to top,  rgba(69, 69, 69, 0.8), rgb(32, 32, 32)), url(img/f1.png);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;    
    align-items: center;
    background-position: center;
    padding: 2.5rem 3.125rem;

      
}

.curriculum .contenido-seccion{
    padding: 0rem 0rem;
    margin: 0px;
}
.curriculum h2{
    font-size: 1.5rem;
    font-family: 'Righteous';
    text-align: center;    
    color: #00fcf6;
       
}

.curriculum .fila{
    display: flex;
    justify-content: space-between;
    padding: 0.625rem 5rem;
}

.curriculum .fila .col{
    width: 49%;
    padding: 0 1.25rem;
}
.col .izquierda{
    border-right: 2px solid #e1ff00;
    margin-right: 1.25rem;

}


.curriculum .fila .col h3{
    font-size: 1.3rem;
    font-family: 'Righteous';
    margin-bottom: 0.625rem;
    color: #00fcf6;
}
.curriculum .fila .izquierda{
    border-right: 2px solid #e1ff00;
    
}
.curriculum .fila .derecha{
    border-left: 2px solid #35ff02;
}
.curriculum .fila .item{
    padding: 0.1rem;
    margin-bottom: 0.625rem;
    background-color: #009191;
    position: relative;
    border: 1px solid #000000;
    box-shadow: 0 0 7px 10px #00fcf6;
    border-radius: 10px;
      
}

.curriculum .fila .item h4{
    font-size: 0.9rem;
    margin-bottom: 0.3125rem;
}


.curriculum .fila .item .casa{
    color: #00fcf6;
    font-size: 0.8rem;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    color: #fff;
    margin-bottom: 0.625rem;
    font-size: 0.8rem;
}
/*.curriculum .fila .item p{
    line-height: 1.5rem;
}*/
.curriculum .fila .izq{
    border-right: 2px solid #e1ff00;
    margin-right: 1.25rem;
}

.curriculum .fila .izq1{
    align-items: center;
    align-content: center;
    margin-right: 1.25rem;
    border-right: 2px solid #e1ff00;
}
.curriculum .fila .izq1 h4{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e1ff00;
    font-size: 1.5rem;

 }


.curriculum .fila .der{
    border-left: 2px solid #35ff02;
    margin-left: 1.25rem;
}

.curriculum .fila .item .conectori{
    height: 0.125rem;
    background-color: #e1ff00;
    width: 2.9375rem;
    position: absolute;
    top: 50%;
    right: -2.9375rem;
    z-index: 6;
}
.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 0.625rem;
    width: 0.625rem;
    border-radius: 50%;
    background-color: #e1ff00;
    float: right;
    position: relative;
    bottom: 4px;
}
.curriculum .fila .item .conectord{
    height: 0.125rem;
    background-color: #35ff02;
    width: 2.9375rem;
    position: absolute;
    top: 50%;
    left: -2.9375rem;
    z-index: 5;
}
.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 0.625rem;
    width: 0.625rem;
    border-radius: 50%;
    background-color: #35ff02;
    float: left;
    position: relative;
    bottom: 0.25rem;
}

/*================ SECCION PORTFOLIO============== */

.portfolio{    
    background: linear-gradient(to top,  rgba(69, 69, 69, 0.8), rgb(32, 32, 32)), url(img/portafolio3.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;       
    padding: 2.5rem 1.625rem;   
    
}


.portfolio .contenido-portfolio{
    padding: 0rem 5rem;
    margin: 0px;
    height: 100%;
    
      
}


.contenido-portfolio h2{
    font-size: 1.5rem;
    font-family: 'Righteous';
    text-align: center;    
    color: #00fcf6;

}

.portfolio .galeria{  
    width: 100%;      
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    padding: 5rem 2rem;
    justify-items: center;
    align-items: center;
    /*height: 100%;*/
    
    
}




.portfolio .galeria .proyecto{    
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18.75rem;
    
}

.portfolio .galeria .proyecto img {
    display: block;
    object-fit: cover;
    width: 300%;
    height: 65%;    
    border: 2px solid #000000;
    box-shadow: 0 0 15px 5px #00fcf6;
    border-radius: 10px;
    /*transform: scale(1, 1.);*/
    align-items: center;
    align-content: center;
}


.galeria .proyecto .overlay{
    position: absolute;
    /*top: 0;*/
    width: 100%;
    height: 65%;
    text-align: center;
    background: rgba(120, 239, 216, 0.8);   
    justify-content: center;
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
    
}

.portfolio .galeria .proyecto:hover .overlay{
    opacity: 0.8;
}

.portfolio .galeria .proyecto h3 {
    margin: 0.625rem 0 0;
    font-size: 1.17em;
    font-weight: bold;
    color: #fff;
    transition: 0.3s;
}

.portfolio .galeria .proyecto:hover h3{
    margin-bottom: 0.625rem;
}

.portfolio .galeria .proyecto .fa-hand-pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.portfolio .galeria .proyecto:hover .fa-hand-pointer {
    opacity: 1;
}

.proyecto a {
    width: 100%;
    height: 100%;
}
  
.proyecto a:hover img {
    opacity: 1;
}


/* ============SECCION  CONTACTO===========*/
/* SECCION CONTACTO */
.contacto{
    background: linear-gradient(to top,  rgba(69, 69, 69, 0.8), rgb(32, 32, 32)), url(img/contacto.png);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;     
    padding: 2.5rem 2rem;
  
}

.contacto .contenido-contacto{
    padding: 0rem 5rem;
    margin: 0px;
    height: 100%;
       
}

.contenido-contacto h2{    
    font-size: 1.rem;
    font-family: 'Righteous';
    text-align: center;    
    color: #00fcf6;
    padding-bottom: 2rem;
    
}



.contacto .fila{
    display: grid;
    grid-template-columns: 40% 60%; /* Dos columnas de igual ancho */
    /*grid-template-rows: 1fr; /* Una fila */
    column-gap: 1rem; /* Espacio entre elementos */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translate(0%, 0%);
}



.fila .box2{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.125rem;
    padding: 0.5rem;
    position: relative;
    width: 100%;
    height: auto;  
    border-radius: 10px;   
    background-color: transparent; /* Modificado para que el fondo sea transparente */
    /*transform: translate(25%, 0%);*/
    
    
}

.fila .box2 .bordeline{
    background: #00fcf6;
}


.fila .box3{
    
    position: relative;
    width: 100%;
    height: auto;
    display: inline-block;
    background-color: transparent;
    
}

.fila .box2 .form{
    position: relative;
    inset: 0.125rem;    
    padding: 0.2rem 0.2rem;
    display: flex;
    flex-direction: column;
}



.fila .box2 input{
    color: #00fcf6;
    background-color: transparent;
    transition: background-color 0.4s ease, color 0.4s ease;
    border-radius: 10px;   
    padding: 1.3rem 1rem;
    margin-bottom: 1.05rem;
    box-shadow: 0 0 20px 2px #00fcf6;
    width: 100%;
    height: 1.8rem;
    position: relative;
}

.fila .box2 textarea{
    color: #00fcf6;
    background-color: transparent;
    transition: background-color 0.4s ease, color 0.4s ease;
    border-radius: 10px;   
    padding: 0.2rem;
    margin-bottom: 1.05rem;
    box-shadow: 0 0 20px 2px #00fcf6;
    width: 100%;
    height: 6rem;
    position: relative;
}

.fila .box2 input[type="text"]:hover,
.fila .box2 textarea:hover {
    color: #00fcf6;
    background-color: #000000;
}

.fila .box2 input::placeholder, .fila .box2 textarea::placeholder {
    color: #ffffff;
    font-size: 0.8rem;
}



.form_input input,
.form_input textarea {
    color: #00fcf6;
    background-color: transparent;
    transition: background-color 0.4s ease, color 0.4s ease;
    border-radius: 10px;
    border: none;
    padding: 0.2rem;
    margin-bottom: 1.25rem;
    box-shadow: 0 0 20px 2px #00fcf6;
    width: 100%;
}

.label {
    position: absolute;
    font-weight: 400;
    padding-left: 0.3125rem;
    font-size: 0.8rem;
    color: #787878;
    pointer-events: none;   
    transform: translate(0rem, -2.65rem);
    z-index: -1;
    transition: all 0.2s;
    align-items: center;
}

.form_input:focus + .label {
    margin-top: -2.1875rem;
    font-size: 0.8rem;
    color: #00fcf6;
    padding: 0.2rem 0.2rem;
}

.fijar {
    transform: translate(0px, -3.75rem);
}

.textarea:focus + .label {
    margin-top: -2.1875rem;
    font-size: 1rem;
    color: #00fcf6;
}
/**********/
.button {
    width: 9.375rem; 
    margin: 0 auto; 
    font-size: 0.8rem;
    background-color: transparent;
    cursor: pointer;   
    justify-content: center;
    align-items: center;
    padding: 0.3125rem 1.125rem;     
    color: #00fcf6;    
    bottom: 1.25rem;
    z-index: 2;
    box-shadow: 0 0 20px 2px #00fcf6;
    border: 2px solid #018f8d;
    border-radius: 10px;
}

.button:hover {
    color: #fdfdfd;
    background-color: #000000;
}

.button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #00fcf6;
    z-index: 1;
    transition: width 1s;
}



.fila .box3 iframe{
    width: 100%;
    box-shadow: 0 0 1.875rem 0.625rem #00fcf6;
    border-radius: 0.625rem;
}
.fila .box3 .infor{
    position: absolute;
    top: 6%;
    left: 79%;
    padding: 0.1875rem;
    width: 12.5rem;
    height: 3.125rem;
    
    transform: translate(-50%, -50%);
    align-items: center;
    border: 2px solid #000000;
    box-shadow: 0 0 5px 2px #00fcf6;
    border-radius: 3px;
}

.fila .box3 .infor ul{
    font-size: 0.75rem; /* Añadido px para especificar la unidad */
    list-style: none;
    color: #00fcf6;
}

.fila .box3 .infor ul li{
    margin-bottom: 0.3125rem;
    padding: 0.0625rem;
    justify-content: left;
}

.fila .box3 .infor ul li i{
    color: #1CB698;
    display: inline-block;
    margin-right: 1.25rem;
}



/******Footer**********/


footer{
    background-color: #252A2E;
    color: #00fcf6;
    padding: 3.125rem 0 1.875rem 0;
    text-align: center;
    position: relative;
    width: 100%;
}


footer .arriba{
    display: block;
    width: 3.125rem;
    height: 3.125rem;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -1.5625rem;
    border-radius: 50%;
    line-height: 3.125rem;
    font-size: 1.125rem;
}




.redfooter .redes a {
    
    display: inline-block;
    width: 45px;
    height: 45px;
    font-size: 60px;
    margin-right: 25px;    
    text-align: center;
    line-height: 25px;
    text-decoration: none;
    color: #000000;
    background-color: #01fffbb5;
    box-shadow: 0 0 0 20 #939c28;
    padding: 0 10px;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s, 0 0 30px #055553;
  }
  
  .redfooter .redes a:hover {
    
    background-color: #373e44;
    color: #00fcf6;
    box-shadow: 0 0 30px #00fcf6;
  }
  
  .redfooter .redes a i {
    font-size: 24px;
    transition: transform 0.3s;
  }
  
  .redfooter .redes a:hover i {
    transform: scale(1.2);
  }




/*==========================*/

/* SECCION RESPONSIVE */


@media(max-width:991){
    header, .contenedor-header{
        padding: 0.95rem 0.3rem;
    }
    footer{
        padding: 0.95rem 0.3rem;        
    }
    section{
        padding: 0.5rem 0.3rem;
    }
    .navlist a{
        padding: 0.5rem 1rem;
    }
}














/* Para pantallas mayores o iguales a 1400px */
/*@media (min-width: 1400px) {
    .contenedor-header{

    }
    .logo img {
      width: 8.875rem;
    }
  }
  
  /* Para pantallas mayores o iguales a 1200px */
  /*@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .logo img {
      width: 7.875rem;
    }
  }
  
  /* Para pantallas mayores o iguales a 992px */
  /*@media screen and (min-width: 992px) and (max-width: 1199px) {
    .logo img {
      width: 7.875rem;
    }
  }
  
  /* Para pantallas mayores o iguales a 800px */
 /* @media screen and (min-width: 800px) and (max-width: 991px) {
    .logo img {
      width: 6.875rem;
    }
  }
  
  /* Para pantallas mayores o iguales a 640px */
 /* @media screen and (min-width: 640px) and (max-width: 799px) {
    .logo img {
      width: 5.875rem;
    }
  }
  
  /* Para pantallas mayores o iguales a 576px */
 /* @media screen and (min-width: 576px) and (max-width: 639px) {
    .logo img {
      width: 5.875rem;
    }
  }
  
  /* Para pantallas mayores o iguales a 480px */
  /*@media screen and (min-width: 480px) and (max-width: 575px) {
    .logo img {
      width: 4.875rem;
    }
  }
  
  /* Para pantallas mayores o iguales a 320px */
 /* @media screen and (min-width: 320px) and (max-width: 479px) {
    .logo img {
      width: 3.875rem;
    }
  }
  
  /* Para pantallas menores a 320px */
  /*@media screen and (max-width: 319px) {
    .logo img {
      width: 2.875rem;
    }
    .contenedor-header header {
      padding: 0.3125rem 0.3125rem;
    }
    .contenedor-header header nav ul li a {
      margin: 0 5px;
      font-size: 14px;
    }
    .nav-responsive {
      display: block;
    }
  }





















/*
@media screen and (max-width:1300px){
    .sobremi{
        padding: 1.5rem 4.5rem;
    }

    .sobremi-content h1{
        font-size: 1.9rem;
        font-weight: 600;
        top: -2.125rem;
    }

}

   











@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}











@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .portfolio .galeria{
        display: block;
        width: 100%;
    }
    .portfolio .galeria .proyecto{
        max-width: 100%;
    }
    .portfolio .galeria .proyecto img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}